---
layout: default
title: Blog
---

<div class="container mt-5 blog-posts">
    <div class="row">
        <div class="col-12 col-md-8">
            <ol class="list-unstyled list-inline breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="list-inline-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ site.url }}">
                        <span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li class="list-inline-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ site.url }}/blog">
                        <span itemprop="name">Writing</span></a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
            <h1 class="h1 mb-3">
                Writing
            </h1>
            <ul class="list-unstyled">
                {% for post in site.posts %}
                    {% include blog-listing.html %}
                {% endfor %}
            </ul>
        </div>
        {% include navigation.html %}
    </div>
</div>
