---
layout: default
description: Head of Software Development based out of Manchester, UK.
---

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-8 with-footer">
            <ol class="list-unstyled list-inline breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="list-inline-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ site.url }}">
                        <span itemprop="name">Home</span></a>
                    <meta itemprop="position" content="1" />
                </li>
                <li class="list-inline-item" itemprop="itemListElement" itemscope
                    itemtype="https://schema.org/ListItem">
                    <a itemprop="item" href="{{ site.url }}/newsletter">
                        <span itemprop="name">Newsletter</span></a>
                    <meta itemprop="position" content="2" />
                </li>
            </ol>
            <h1 class="h1">
                Newsletter
            </h1>
            <section class="mt-3 post-content">
                <p>Subscribe to the monthly newsletter and receive:</p>
                <ul>
                    <li>New articles on software engineering & tech leadership.</li>
                    <li>Extended notes on topics that I don't publish on this blog.</li>
                </ul>
                {% include newsletter.html %}
                <p>This information will only be used to send the newsletter. You can unsubscribe any time.</p>
            </section>
        </div>
        {% include navigation.html %}
    </div>
</div>
