---
layout: default
title: Tags
---

<div class="container mt-2 mt-md-4 tag-page">
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto">
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
            <div class="mb-3">
            <a class="tag-title" href="/tags/{{ tag[0] | slugify }}" id="{{ tag[0] | slugify }}">{{ tag[0] }}</a>
            <ul class="list-unstyled">
                {% for post in tag[1] %}
                    {% include post-link.html %}
                {% endfor %}
            </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
