<aside class="col-4">
    <h5 class="h5 my-3">Links</h5>
    <nav>
        <ul class="list-unstyled d-block">
            <li class="mb-3 mr-2 mr-md-0">
                <a href="https://6minutesoftwaredevelopment.com" target="_blank">
                    Podcast
                </a>
            </li>
            <li class="mb-3 mr-2 mr-md-0">
                <a href="https://twitter.com/joshua_hornby" target="_blank">
                    Twitter
                </a>
                <img class="d-inline-block" src="/assets/images/twitter.svg" alt="Twitter Logo"/>
            </li>
            <li class="mb-3 mr-2 mr-md-0">
                <a href="https://www.linkedin.com/in/joshhornby" target="_blank">
                    Linkedin
                </a>
                <img class="d-inline-block" src="/assets/images/linkedin.svg" alt="Linkedin Logo"/>
            </li>
            <li class="mb-3 mr-2 mr-md-0 d-inline-block d-block">
                <a href="{{ site.url }}/atom.xml" target="_blank">
                    Rss
                </a>
            </li>
        </ul>
    </nav>
</aside>
