<div class="my-3">
    <form action="https://buttondown.com/api/emails/embed-subscribe/joshhornby" method="post">
        <h2>Join the Newsletter</h2>
        <p>Join my weekly newsletter containing some thoughts, life lessons and interesting content I discovered on the internet that week.</p>
        <input type="email" name="email" class="form-control mb-2" placeholder="Email Address" required>
        <input type="hidden" name="tag" value="joshhornby.co.uk">
        <input type="hidden" name="embed" value="1">
        <button type="submit" class="btn btn-primary">Subscribe</button>
        <p class="small text-muted mt-2">We won't send you spam. Unsubscribe at any time.</p>
    </form>
</div>
