<div class="bg-light px-3 py-3 rounded-xl mb-3">
    <p class="mb-2"><strong>Newsletter</strong></p>
    <p class="small mb-2">Get a weekly digest of my writing, every Thursday.</p>
    <form action="https://buttondown.com/api/emails/embed-subscribe/joshhornby" method="post">
        <input type="email" name="email" class="form-control form-control-sm mb-2" placeholder="Email address" required>
        <input type="hidden" name="tag" value="joshhornby.co.uk">
        <input type="hidden" name="embed" value="1">
        <button type="submit" class="btn btn-primary btn-sm btn-block w-100">Subscribe</button>
    </form>
</div>
