<div class="bg-light px-3 py-3 rounded-xl mb-3">
    <p class="mb-2"><strong>Newsletter</strong></p>
    <p class="small mb-2">Get a weekly digest of my writing, every Wednesday.</p>
    <form action="//joshhornby.us7.list-manage.com/subscribe/post?u=3749c15a8759f402eb64ab3d0&amp;id=4e67495a84" method="post" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" class="form-control form-control-sm mb-2" placeholder="Email address" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3749c15a8759f402eb64ab3d0_4e67495a84" tabindex="-1" value=""></div>
        <button type="submit" class="btn btn-primary btn-sm btn-block w-100">Subscribe</button>
    </form>
</div>
