<ul id="post-list" itemscope itemtype="http://schema.org/Blog">
    {% for post in paginator.posts %}
        <li itemscope itemtype="http://schema.org/BlogPosting">
            <a itemprop="url" href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}"><aside class="dates" itemprop="datePublished">{{ post.date | date:"%b %d" }}</aside></a>
            <span itemprop="name"><a href="{{ site.baseurl }}{{ post.url | remove_first: '/' }}">{{ post.title }}</span> <h2 itemprop="description">{{ post.description }}</h2></a>
        </li>
    {% endfor %}
</ul>

{% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
{% endif %}
