<div class="signup-form">
    <label>Want to be notified every time I put out something new?</label>
    <form action="https://buttondown.com/api/emails/embed-subscribe/joshhornby" method="post">
        <input type="email" name="email" class="email" placeholder="email address" required>
        <input type="hidden" name="tag" value="joshhornby.co.uk">
        <input type="hidden" name="embed" value="1">
        <div class="clear"><input type="submit" value="Subscribe" class="button"></div>
    </form>
</div>
