---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content post" itemscope="" itemtype="http://schema.org/BlogPosting">
  <h1 itemprop="name headline" class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time>
  </div>

<span class="hidden" itemprop="author" itemscope="" itemtype="http://schema.org/Person">
    <span itemprop="name">
        <a href="https://plus.google.com/103205414489201613804" itemprop="url" rel="author">Joshua Hornby</a>
    </span>
</span>

  {% include tags.html %}

  <p id="post-meta">{{ tags_content }}</p>

  {% include twitter.html %}

  <span itemprop="articleBody">{{ content }}</span>

  {% include disqus.html %}

</div>
