---
layout: default
---
<div class="container mt-2 mt-md-3">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto with-footer">
            <h1 class="h1 my-3">
                {{ page.title }}
            </h1>
            {% if page.podcast %}
                <div class="mb-3">
                    <iframe width="100%" height="180" frameborder="no" scrolling="no" seamless src="{{ page.podcast }}"></iframe>
                </div>
            {% endif %}
            <div class="meta mb-3">
                <span>
                  {%- assign sorted_tags = page.tags | sort -%}
                  {%- for tag in sorted_tags -%}
                    {%- assign tag_count = site.tags[tag] | size -%}
                    <a href="/tags/{{ tag }}">
                      <span>{{ tag }} ({{ tag_count }})</span>
                    </a>{% unless forloop.last %}<span>, </span>{% endunless %}
                  {%- endfor -%}
                </span>
            </div>
            <section class="post-content">
                {% if page.image %}
                    {% unless page.hide_image  %}
                        <img alt="{{ page.title }}" class="img-fluid rounded-xl mb-3" src="{{ page.image }}"/>
                    {% endunless %}
                {% endif %}
                {{ content }}
                <hr />
                <span class="mb-3 d-block font-italic">
                    Published on <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %-d, %Y" }}.</time>
                </span>

                <div class="w-100 mb-3 d-block justify-content-between">
                    {% if page.previous.url %}
                    <div class="position-relative text-center">
                        <svg width="2em" height="2em" viewBox="0 0 24 24" fill="none" stroke="#999" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="d-none align-bottom"><polyline points="15 18 9 12 15 6"></polyline></svg>
                        <div class="d-inline-block">
                            <small class="text-muted d-block">
                                Previous Post
                            </small>
                            <a class="stretched-link" href="{{page.previous.url}}">
                                {{page.previous.title}}
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% if page.next.url %}
                    <div class="position-relative text-center mt-3">
                        <div class="d-inline-block">
                            <small class="text-muted d-block">
                                Next Post
                            </small>
                            <a class="stretched-link" href="{{page.next.url}}">
                                {{page.next.title}}
                            </a>
                        </div>
                        <svg width="2em" height="2em" viewBox="0 0 24 24" fill="none" stroke="#999" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="d-none align-bottom"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </div>
                    {% endif %}
                </div>

            </section>
        </div>
    </div>
</div>
